body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  margin: 10px 20px;
  display: flex;
  align-items: stretch;
}
.header img {
  width: 20%;
}
.form {
  margin-top: auto;
}
.slogan {
  color: indianred;
  margin-top: auto;
}
.nav {
  float: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  text-align: center;
  color: rgb(0, 208, 255);
}
.content1 {
  margin: 20px;
}
.content-left {
}
.content-left img {
  width: 100%;
}
.content-right p {
  text-align: justify;
}
.content-right > h3 {
  text-align: center;
  color: sandybrown;
}
.content-right u {
  text-decoration: none;
}
.content-right li {
  color: rgb(0, 145, 255);
}
.airpod img {
  width: 50%;
}
.price {
  color: red;
}
@media (max-width: 768px) {
  .header {
    margin: 10px 20px;
    display: block;
    text-align: center;
  }
  .nav {
    float: none;
    display: block;
  }
}
